@import "../utils/_variables";
@import "../components/header";

.footer {
    background: $Black;
    padding:1.5rem;
    .row {
      width:80%;
    }

    .logo {
      @extend .logo;
      margin-left:0rem;
    }
    .social-links {
      width:40%;
      display:flex;
      gap:1rem;
      padding:1rem;
      justify-content: center;
      .social-links__item {
        width:23%;
        border-radius: 50%;
        padding:1rem;
        background: white;
        
       &:hover {
          scale:1.2;
        }
  
      }
    }
  }
  