@import "../utils/_variables";

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:$Black;
    color: $White;
    padding: 1rem;

    .grid {
      display:grid;
      grid-template-columns: repeat(2, 50px);
      justify-content:center;    
      align-items:center;
      gap:5rem;
      background:$White;

    }
    .github, .twitter {
      width:100%;
    }
    
    img {
      height: 100%;
      width: 100%;
    }
    .social-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-decoration: none;
        border-radius: 50%;
        background-color: #555;
        width:100%;
        
        &:hover {
          background-color: #777;
        }
        
        &.github {
          background-color: $White;
          
          &:hover {
            background-color: #4867aa;
          }
        }
        
        &.twitter {
          background-color: #1da1f2;
          
          &:hover {
            background-color: #1991db;
          }
        }
      }
    }
  }
  