@import "../utils/_variables";

.overflow-hidden {
    overflow: hidden;
  }
  
header {
    position: relative;
    background:$Black;
    z-index: 999;
    @media only screen and (min-width:1000px) {
        .nav__list {
            gap:5rem;
        }
        .dropdown {
            display: none;
        }
    }

    @media only screen and (max-width:900px) {
    
        .nav {
            display:none;
        }
    
        .dropdown.active {
            display:block;
            padding: 0;
        }
    
        .hamburger {
            display:block;
            order:2;
        }
    }
        
}

.logo, .hamburger {
    width:2rem;
    min-width:4rem;
    display:flex;
    align-items: center;
    gap:1rem; 

    &:hover {
        scale:1.1;
        
        &::after{
            color: $Yellow;
        }
    }

    img {
        border-radius: 25%;
    }
}

.logo::after {
   content: "Muggie";
   color:$White;
   font-weight: 700;
   font-size:1.5em;
   
}

nav {
    margin-left:0;
}

.nav__list {
    width:100%;
    list-style: none;
    display:flex;
    gap:5rem;
}

.nav__item {
    width:100%;
}

.nav__link, .dropdown-content a {
    text-decoration: none;
    color:$Yellow;
}

.nav__link:hover, .nav__link:focus {
    color:white;
}

.dropdown-content + body {
    overflow:hidden;
}
.dropdown {
    width:100%;
    position: fixed;
    position: relative;
    left:0;
    top:0;
    display:none;
    z-index: 98;
    padding-top:5rem;
    transition: 0.5s ease-in-out;

    &.active {
        min-height: 500vh;
    }
    
    header {
        overflow: none;
    }
}

.dropdown-content {
    width:100%;
    height: auto;
    display:none;
    flex-direction: column;
    gap:5rem;
    
    margin:0 auto;
    padding:2rem 0;

    .row {
        .hamburger {
            margin-right:0;
            transition: 0.5s ease-in-out;
        }
    }

    .col {
        gap:5rem;

       & > * {
            display: flex;
            &::before, &::after {
                content: "";
                padding: 0 .2rem;
                width: 100%;
                background: $White;
                transform: rotate(90deg);
                margin: 0 2rem;
            }
       } 
    }
}

.dropdown.active .dropdown-content {
    display: flex;
}
.dropdown-content a:not(.logo) {
    margin:auto;
    font-size: 1.5em;
}

.dropdown a:hover {
    color:$White;
}

.hamburger {
    color:$Yellow;
    max-width:45px;
    margin-left:auto;
    display:none;
    transition:0.5s ease-in-out;
    svg path:hover {
        fill: $Yellow; 
    }

    &:hover + .dropdown.active {
        display:flex;
    }

    &:focus {
        position: absolute;
        left:0;
        top:0;
    }
}

.social-links {
    display:flex;
    gap:1rem;
    justify-content: flex-end;
    margin-bottom: 0;

    .social-links__item {
      width:15%;
      border-radius: 50%;
      padding: 0.3em;
      background: white;

      @media screen and (max-width:800px) {
        padding: 0.6rem;
        width: 15%;
        justify-content: flex-start;
      }
      @media screen and (max-width:600px) {
        width: 15%;
      }
    }
    @media screen and (max-width:800px) {
      grid-column: span 2;
      justify-content: center;
    }
    
  }

.quote {
    display:flex;
    justify-content:center;
    text-align: center;
    width:100%;
    padding:.5rem;
    margin-top:2rem;
    color:$White;
    background:$Yellow;
}