@import "../utils/_variables";

header {
    background:$Black;
    @media only screen and (min-width:1000px) {
        .nav__list {
            gap:5rem;
        }
        .dropdown {
            display: none;
        }
    }

    @media only screen and (max-width:900px) {
    
        .nav {
            display:none;
        }
    
        .dropdown.active {
            display:block;
        }
    
        .hamburger {
            display:block;
        }
    }
        
}

.logo, .hamburger {
    width:2rem;
    min-width:4rem;
    display:flex;
    align-items: center;
    gap:1rem; 

    &:hover {
        scale:1.1;
        
        &::after{
            color: $Yellow;
        }
    }

    img {
        border-radius: 25%;
    }
}

.logo::after {
   content: "Muggie";
   color:$White;
   font-weight: 700;
   font-size:1.5em;
   
}

nav {
    margin-left:0;
}

.nav__list {
    width:100%;
    list-style: none;
    display:flex;
    gap:5rem;
}

.nav__item {
    width:100%;
}

.nav__link, .dropdown-content a {
    text-decoration: none;
    color:$Yellow;
}

.nav__link:hover, .nav__link:focus {
    color:white;
}

.dropdown {
    width:100%;
    min-height:0;
    position: fixed;
    position: relative;
    left:0;
    top:0;
    display:none;
    z-index: 98;
    padding-top:120px;
    transition: 0.5s ease-in-out;

    &.active {
        min-height: 500vh;
    }

    .hamburger {
        position: absolute;
        top: 1rem;
        right: 1rem;
        max-width: 45px;
        transition: 0.5s ease-in-out;
    }

    .logo {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

}

.dropdown-content {
    width:100%;
    display:none;
    flex-direction: column;
    gap:2rem;
    
    
    margin:0 auto;
    padding:2rem;
}

.dropdown.active .dropdown-content {
    display: flex;
}
.dropdown a {
    margin:auto;
}

.dropdown a:hover {
    color:$Black;
}

.hamburger {
    color:$Yellow;
    max-width:45px;
    margin-left:auto;
    display:none;
    transition:0.5s ease-in-out;
    svg path:hover {
        fill: $Yellow; 
    }

    &:hover + .dropdown.active {
        display:flex;
    }

    &:focus {
        position: absolute;
        left:0;
        top:0;
    }
}

.quote {
    display:flex;
    justify-content:center;
    text-align: center;
    width:100%;
    padding:.5rem;
    margin-top:2rem;
    color:$White;
    background:$Yellow;
}