@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

:root {
    --yellow: #ffc600;
    --black: #272727;
}

*, *::before, *::after {
    box-sizing:border-box;
}


body {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-size:1.5em;    
}

main {
    padding:2rem;
}

section {
    width:80%;
    background:var(--black);
    padding:0 100px;
    margin:0 auto;
}

.container {
    width: 100%;
    margin:0 auto;
}

.container-main {
    max-width:600px;
    color:white;
}

.row {
    display:flex;
    justify-content:space-between;
}

.grid {
    display:grid;
    gap:2rem;
    justify-items:center;
    align-items: center;
}

img {
    max-width:100%;
    height:100%;
}

.hero__title {
    justify-self:center;
    margin-top:0;
    grid-column:1 / -1;
}

header {
    width:100%;
    padding:2rem;
    background:var(--black);
}

.logo {
    margin:auto;
    text-decoration: none;
}

nav {
    margin:0 auto;
}

.nav__list {
    list-style: none;
    display:flex;
    gap:5rem;
}

.nav__link {
    text-decoration: none;
    color:var(--yellow);
}

.nav__link:hover, .nav__link:focus {
    color:white;
}

.hero, .footer {
    width:100%;
    padding:3rem;
    margin-bottom:5rem;
}

.footer {
    margin-bottom:0;
}

.gallery {
    display:grid;
    gap:2rem;
    margin:1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
}

.hero__item {
    display:grid;
    text-decoration: none;
    color:var(--yellow);
}

.hero__item > img {
    border:5px solid var(--black);
}

.hero__item > img:hover {
    border:5px solid var(--yellow);
}

.hero__item > span {
    margin:0 auto;
}

.Github {
    max-width:50%;
}