@import "../utils/variables";


// styling the slider

.swiper-slide > img {
    border-radius:12px 12px 12px 12px;
}

// // styling the gallery

.gallery {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 3fr));
}
