@import "../utils/variables";


// styling the slider

.swiper {
    padding:2rem;
    background:var(--black);
}

.swiper-wrapper {
    width:100%;
    max-height:500px;
}

.swiper-slide {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:60px;
}

.swiper-slide > img {
    border-radius:12px 12px 12px 12px;
}

// styling the gallery
.gallery__title {
    grid-column: 1/-1;
    justify-self: center;
}