@import "../utils/variables";

.gallery__title {
    grid-column: 1/-1;
    justify-self: center;
}

// styling the slider
.swiper {
    padding:5rem !important;
    width: 100%;
    background:$Black;
    border-radius: 12px;
    grid-auto-flow: dense;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    @media screen and (min-width:810px){
        grid-column: span 2;
    }
}

.swiper-wrapper {
    margin:auto;
    display: flex;
    align-items: flex-start;
}

.swiper-slide {
    font-size:20px;
    text-align: center;
}

.swiper-slide > img {
    border-radius:12px;
}
.swiper-button-prev, .swiper-button-next {
    margin:2rem;
    color: $White !important; 
    text-shadow: 0 0 3px $Black, 0 0 5px $Black;
}
