@import "../utils/variables";


.greeting-section {
    background:$Yellow;
    color:$Black;
    border:5px solid $Black;
    width:100%;
    padding:1rem;
    @media screen and (max-width:800px){
        
    .text {
        grid-template-columns:100%;
        grid-template-rows:repeat(2, 2rem);
        justify-items:center;
    }
    .title {
        text-align:center;
    }
        
    }
}

.container--main {
    width:80%;
    max-width:900px;
    color:$White;
    align-self:center;
    text-align: center;
}

.main__picture {
    width:100%;
    margin-left:2rem;
    text-align:center;
}

img[alt="my profile picture"] {
    border-radius:2rem;
    box-shadow:10px 12px anitqueWwite;
}


.first-section {
    @media screen and (max-width:800px){
        .row {
            display:grid;
            grid-template-columns:100%;
            grid-template-rows:2fr auto;
            gap:2rem;
        }
        .main__picture{
            margin:0rem;
        }
    }

}