@import "../utils/variables";

.hero-section {
    padding:7rem 0;
    background:$White;
    box-shadow: $lightBoxShadow;
    min-height: 80vh;
    .row {
        gap: 4rem;
    }
    .greeting {
        border-radius:1rem;
        width: fit-content;
        padding:.2rem 1rem;
        display:flex;
        align-items: center;
        gap:2rem;
        margin-bottom: 2rem;
        
        .greeting__text, flags {
            width:100%;
            word-break: keep-all;
            margin:0;
        }
        .flags {
            font-size: 1.7em;
        }
    
    }

    .hero__button {
        width:100%;
        margin-top:2rem;
        color:$White;
        background:$Yellow;

        &:hover {
            background:inherit;
            color:$Yellow;
            scale: 1.05;
        }
    }

    .hero__picture {
        width:auto;
        justify-content: center;
        img {
            height: 100%;
            border-radius:2rem;
            box-shadow:$heavyBoxShadow;
        }
        
        @media screen and (min-width: 900px) {
            width: 100%;
        }
    }
    

    @media screen and (max-width:700px){
        padding: 0rem 0 9rem;
        .row {
            padding:0;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: flex-end;
        }

        .greeting, .hero__button {
            display:none;
        }
    }
}

.card {
    padding: 1.5rem;
    min-height: 105vh;
    margin-bottom: 2rem;
    background:$Black;
    color:$White;
    font-size: 1em;
    display:flex;
    align-items: center;
    justify-content: center;
    
    .row {
        gap:2rem;
    }

    h3 {
        margin: 0;
    }

    .card__title {
        margin: auto;
        font-size: 2.8em;
    }

    .col-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    }
    .col-secondary {
        background: $Yellow;
        height: 100%;
        padding: 1.5rem;
        display: flex;
        justify-content: center;

        .row {
            gap:1rem;
            justify-content: flex-start;
            align-items: center;
        }

        p {
            width: 100%;
        }
        
        .col {
            height: auto;
            width:auto;
            margin-left:0;
            ul {
                margin:0;
                padding: 0 1.4rem;
                li {
                    opacity:.7;
                }
            }
        }
    }
    @media screen and (max-width: 800px) {
        .row {
            flex-direction: column;
        }   
    }
}
.advice-section {
    grid-area: advice-section;
    box-shadow: $lightBoxShadow;
    color:$White;
    background:$Yellow;
    width: 100%;
    width: 100%;
    .quoteDiv {
        text-align: center;
        padding:1rem;
        

        h2 {
            margin: 0;
        }
        p, em {
            opacity: .7;
        } 

    }
}

.card-introduction {
    display: flex;
    min-height: 90vh;
    .col {
        align-self: center;
    }
    .grid {
        gap:5rem;
        // grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
        grid-template-areas: 
        "info-text picture"
        "info-text picture"
        "advice-section advice-section";

        @media screen and (max-width:800px) {
            grid-template-areas: 
            "info-text info-text"
            "advice-section advice-section";
        }
    }
    .col-info{
        grid-area: info-text;
        .col__title{
            font-size: 2.8em;
            
        }
        p {
            font-size: 2rem;
        }
    }
      
    picture {
        grid-area: picture;
        img {
            width: 100%;
            height: 100%;
            border-radius: 2rem;

            @media screen and (max-width: 900px) {
                align-self: flex-start;
            }
        }

        @media screen and (max-width:800px) {
            display: none;
        }
    }
  
}

.card-skills {
    padding: 2.5rem 0;
    .swiper {
        width: 80%;

        .swiper-slide {
            display: flex;
            h3 {
                font-size: 2em;
            }
            picture.col {
                align-self:center;
            }
        }
    }
}

.card-about-me {
    height: auto;
    
}

.card-education {
    .education-section {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .education__place {
            color: $Yellow;
            font-size: 1.6em;
            font-weight: 900;
        }
        .education__period, p {
            opacity: .7;
            font-style: italic;
        }
        img {
            height: 80%;
        }
    }
    
    picture.col img {
        height: auto;
    }
}