@import "../utils/variables";

.portfolio__title {
    color:$Yellow;
    justify-self:center;
    margin-top:0;
    grid-column:1 / -1;
}

@keyframes overlay__animation {
    0%{
        transform: translateY(9rem);
        height: 0;
        opacity: 0;
    }
    100%{
        transform:translateY(0rem);
        height: 27%;
        opacity:1;

    }
}


.gallery__item {
    position: relative;
    color:$Yellow;
    outline:10px solid $Black;
    box-shadow: $Black 10px 13px 10px 5px;
    &:hover {
        outline:10px solid $Yellow;
    }
    @media screen and (min-width:1400px) {
        grid-column: span 2;
    }

    img {
        height: 100%;
    }

    &:hover .gallery__item__overlay {
        display:block;
    }

    .gallery__item__overlay {
        width:100%;
        height:0%;
        position: absolute;
        bottom:0;
        z-index: 50;
        background: $Yellow;
        color: $White;
        display: none;
        animation: overlay__animation .5s;
        animation-fill-mode: forwards;
        transition: .5s ease-in-out;


        .container {
            width:100%;

            .repo-link {
                color: $White;
            }

        }

        .row {
            flex-direction: column;
        }

        h2 {
            color:$White;
            margin:0;
        }
        p {
            color: $White;
            opacity: 85%;
        }
        
    }
}
