@import "../utils/variables";

.hero__title {
    justify-self:center;
    margin-top:0;
    grid-column:1 / -1;
}


.hero__item {
    display:grid;
    grid-column:span 2;
    text-decoration: none;
    color:$Yellow;
    border:5px solid $Black;
    &:hover {
        border:5px solid $Yellow;
    }
    @media screen and (min-width:1400px) {
        grid-column: span 2;
    }
}