@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");  

:root {
    --yellow: #ffc600;
    --black: #272727;
}

*, *::before, *::after {
    box-sizing:border-box;
}

#root {
    width:100%;
}

body {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-size:1.5em;    
}

main {
    padding:2rem;
}

section {
    padding:0 100px;
    margin:0 auto;
    margin-top:2rem;
    background:var(--black);
}



a {
    text-decoration: none;
} 


.container {
    width: 100%;
    margin:0 auto;
}

.container-main {
    width:80%;
    max-width:900px;
    color:white;
    align-self:center;
}

.row {
    display:flex;
    justify-content:space-between;
}

.col {
    width:100%;
    margin-left:auto;
}

.grid {
    display:grid;
    gap:2rem;
    justify-items:center;
    align-items: center;
    align-content:center;
    justify-content: center;
}

.text {
    width:100%;
    display:grid;
    gap:2rem;
    grid-template-columns: repeat(3, auto);
    justify-items:start;
    align-items: center;
    justify-content:start;
}

img {
    max-width:100%;
    height:100%;
}

.hero__title {
    justify-self:center;
    margin-top:0;
    grid-column:1 / -1;
}

header {
    width:100%;
    padding:2rem;
    background:var(--black);
}

.logo, .hamburger {
    width:20%;
    margin:auto;
    margin-left:auto;
    text-decoration: none;
    color:var(--white);
}

.logo::before {
   content: "\f135";
   font-family: "Font Awesome 5 Free";
   font-style: normal;
   font-weight: 900;
   text-decoration: inherit;
}


nav {
    margin:0 auto;
}

.nav__list {
    width:100%;
    list-style: none;
    display:flex;
    gap:5rem;
}

.nav__item {
    width:100%;
}

.nav__link, .dropdown-content a {
    text-decoration: none;
    color:var(--yellow);
}

.nav__link:hover, .nav__link:focus {
    color:white;
}

.dropdown {
    float:left;
    margin-right:auto;
    overflow: hidden;
    display:none;
    transition: 0.5s ease-in-out;
}


.dropdown-content {
    display:flex;
    flex-direction:column;
    background-color: #f9f9f9;
    margin:0 auto;
    min-width: 160px;
    padding:2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    margin:auto;
}

.dropdown a:hover {
    color:var(--black);
}

.hamburger {
    color:var(--yellow);
    max-width:45px;
    margin:auto;
    display:none;
    transition:0.5s ease-in-out;
}

.quote {
    display:flex;
    justify-content:center;
    text-align: center;
    width:100%;
    padding:.5rem;
    margin-top:2rem;
    color:white;
    background:var(--yellow);
}


.greeting-section {
    background:var(--yellow);
    color:var(--black);
    border:5px solid var(--black);
    width:70%;
    padding:1rem;
}

.swiper {
    padding:5rem;
    background:var(--black);
}

.swiper-wrapper {
    width:100%;
    max-height:500px;
}

.swiper-slide {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:60px;
}

.swiper-slide > img {
    border-radius:12px 12px 12px 12px;
}

.hero,
.main, 
.footer, 
section {
    width:100%;
    padding:3rem;
    margin-bottom:7rem;
}

section {
    width:80%;
}

.footer {
    margin-bottom:0;
}

figure {
    margin:0;
}

.gallery {
    display:grid;
    gap:2rem;
    margin:1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
}

.hero__item {
    display:grid;
    text-decoration: none;
    color:var(--yellow);
}

.hero__item > img {
    border:5px solid var(--black);
}

.hero__item > img:hover {
    border:5px solid var(--yellow);
}

span, em {
    margin:0 auto;
}

.Github {
    max-width:50%;
}

@media only screen and (min-width:1000px) {

    .nav__list {
        gap:15rem;
    }
}

@media only screen and (max-width:700px) {

    header {
        background:var(--yellow);
    }

    .quote {
        background:white;
        color:var(--yellow);
    }

    .nav {
        display:none;
    }

    .dropdown.active {
        display:block;
    }

    .hamburger {
        display:block;
    }
    
}